# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
ml_env/
.env

# Datasets
SRPBS_OPEN/
ds002748/
ds005237/

# Checkpoints & Logs
checkpoints/
logs/
plots/
*.out
*.log
*.pt

# Generated Data & Exports
*.tsv
*.bin
*.bin.gz
*.txt
!brain_data.bin
!brain_viz_sparse.bin.gz

# macOS
.DS_Store
